<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVeOaDGhTae7_dQZsV5D_Q_ntAmARE4M8</string>
	<key>GCM_SENDER_ID</key>
	<string>634302941979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cafeApp</string>
	<key>PROJECT_ID</key>
	<string>cafe-app-d12eb</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-app-d12eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634302941979:ios:b646b74ac113f764ad61be</string>
</dict>
</plist>